[phases.setup]
nixPkgs = ['nodejs-18_x', 'npm-9_x']

[phases.install]
cmds = ['cd frontend && npm ci']

[phases.build]
cmds = ['cd frontend && npm run build']

[start]
cmd = 'npx serve -s frontend/dist -p $PORT' 