@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text-primary;
  background-image: radial-gradient(circle at 1px 1px, #30363d 1px, transparent 0);
  background-size: 20px 20px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
    .btn-dash {
        @apply bg-accent text-white px-4 py-2 rounded-lg hover:bg-opacity-80 transition shadow-md;
    }

    /* Base styles for form elements */
    select,
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='number'],
    textarea {
        @apply bg-card border-border text-text-primary rounded-md shadow-sm;
    }
}

/* Custom styles for Leaflet tooltips */
.custom-leaflet-tooltip {
    background-color: rgba(31, 41, 55, 0.9) !important; /* bg-gray-800 with opacity */
    border-radius: 8px !important;
    border: 1px solid #4f46e5 !important; /* Indigo-600 for a vibrant accent */
    color: #e5e7eb !important; /* text-gray-200 */
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5) !important;
    padding: 8px 12px !important;
    font-family: 'Inter', sans-serif;
}

.custom-leaflet-tooltip strong.text-lg {
    color: #818cf8 !important; /* Lighter indigo for the title */
    font-weight: 600;
}

.custom-leaflet-tooltip hr {
    border-color: #4b5563 !important; /* gray-600 */
}

.custom-leaflet-tooltip .leaflet-tooltip-content-wrapper {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: inherit;
}

.custom-leaflet-tooltip .leaflet-tooltip-content {
    margin: 0;
}

.custom-leaflet-tooltip .leaflet-tooltip-arrow {
    @apply bg-accent;
} 